# Port du serveur
PORT=3000

# Clé API OpenWeather (https://openweathermap.org/api)
OPENWEATHER_API_KEY=votre_clé_openweather_ici

# Clé API Last.fm (https://www.last.fm/api/account/create)
LASTFM_API_KEY=votre_clé_lastfm_ici
